
.login-card{
    display: flex;
    flex-direction: column;
    align-items: center;   
    background-color: rgb(61,90,128, 0.8);
    margin: 20% 30%;
    padding: 4% 1%;
}

.login-label {
    text-align: center;
    color: #E0FBFC;
}
.login-input {
    display: flex;
    flex-direction: column;
    margin: 5% 0;
}

.login-h3 {
    text-align: center;
    color: #E0FBFC;
    font-size: 0.8rem;
    padding: 2%;
    margin: 1% 12%;
}

.login-page-button{
    background-color: #EE6C4D;
    padding: 5%;
    color: azure;
    font-weight: 900;
    border-radius: 10px;
    border: none;
    margin-top: 4%;
}