.signup-container {
    display: flex;
    border: 2px solid white;
    flex-direction: column;
    align-items: center;
}
#signup-form {
    border: 3px solid #293241;
    height: fit-content;
}
.signup-img {
    background: url('https://images.unsplash.com/photo-1579126038374-6064e9370f0f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1317&q=80');
    height: 10em;
}