h2 {
    padding: 0.5rem;
}
p {
    font-size: 0.8em;
    color: #EE6C4D;
}
.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#signup-form {
    border: 3px solid #293241;
    height: fit-content;
    margin: 4rem 0;
    height: fit-content;
    width: 60%;
}
.signup-img {
    max-width:100%;
}
.input-container {
    display: flex;
    flex-direction: column;
}
.field {
    padding: 1rem 1rem;
}
.text-input {
    width: 50%;
}
.radio-button {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
}
.radio-label {
    font-size: 0.9em;
}
.radio {
    margin-right: 1em;
}